@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

// fonts
$lex: 'Lexend Deca', sans-serif; // fw400
$big: 'Big Shoulders Display', cursive; // fw700

// colors
$brightorange: hsl(31, 77%, 52%);
$darkcyan: hsl(184, 100%, 22%);
$verydarkcyan: hsl(179, 100%, 13%);

$transparentwhite: hsla(0, 0%, 100%, 0.75); // paragraphs
$verylightgray: hsl(0, 0%, 95%); // headings, buttons

$bg: hsl(45,92%,98%);